h1
{
	margin-left: -20rem;
	margin-right: -20rem;
}

.highlight
{
	background: red;
}

::-moz-selection
{
	text-shadow: none;
	background: hsla(174, 77%, 61%, .5);
	color: hsla(219, 24%, 37%, .5);
}

::selection
{
	text-shadow: none;
	background: hsla(174, 77%, 61%, .5);
	color: hsla(219, 24%, 37%, .5);
}
